<!DOCTYPE html>
<html lang="es">

<head>

<!-- Etiquetas meta para el indexeo de la pagina web-->
<meta charset="UTF-8">
<meta name="description" content="Pagina de compra de Videojuegos">
<meta name="robots" content="nofollow">
<meta name="Author" content="Manuel Alloza Marco">
<meta name="keywords" content="Videojuegos, criticas y compras">
<meta name="revisit-after" content="2 days">
<meta name="category" content="Prácticas">
<!--Etiqueta meta para que la pagina se adapte en dispositivos pequeños-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
<title>Focus Gaming - Contacto</title>

</head>

<body onload="initMap()">

	<div class="div_container">
	
		<header>
		
			<!-- html para crear la barra de navegacion de la parte superior-->
			<nav>	
				<div class="div_menu">
					<img src="../img/logo1.png" class="logo-nav" width="20" height="20" alt="Imagen de un mando">	
					<ul class="menu-nav">
						<li><a href="../index.html" class="button_nav">Índice</a></li>
						<li><a href="productos.html" class="button_nav">Videojuegos</a></li>
						<li><a href="presupuesto.html" class="button_nav">Presupuesto</a></li>
						<li><a href="#" class="button_nav_in">Contacto</a></li>
					</ul>
				</div>
			</nav>
 
		</header>

		<br>
		<br>

		<div style="background-color: black;">
			<section>
				<!-- html para crear los datos de contacto de la pagina web-->
				<div id="div_main_section">
					
					<div class="div-main-title">CONTACTO</div>
					
					<div class="row">
						<div class="col-4">
					 		<p style=" color: #020202;">Correo electronico: FocusGaming@gmail.com</p>
					 		<p style=" color: #020202;">Numero de telefono: 685 595 495</p>
					 		<p style=" color: #020202;">Twitter: @FocusGaming</p>
						</div>
						<div class="col-8"> 
					 		<div id="mapa"> 
					 			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.470175854378!2d-0.8852928233199933!3d41.64558237993918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914e66f0f8abd%3A0xb7151219999d326b!2sC.%20de%20Le%C3%B3n%20XIII%2C%2050008%20Zaragoza!5e0!3m2!1ses!2ses!4v1705078306782!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					 		</div>
					 	</div>
					</div> 
				</div>
			</section>
		</div>
				
		<!-- html del pie de página-->
		<!-- -->
		<footer>
  			<div id="div_footer" style="color:#f0f6f6">
  				<!-- Uso las etiquetas a para convertir los iconos en un enlace para las distintas redes sociales-->
    			<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/instagram.png" class="footer-icon" alt="Icono instagram">
   				</a>
    			<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/facebook.png" class="footer-icon" alt="Icono facebook">
    			</a>
    			<a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/X.png" class="footer-icon" alt="Icono x">
    			</a>
    			----- Focus Gaming ----- C/Leon XIII CP 50008 ----- Todos los derechos reservados 
  			</div>
		</footer>
	
	</div>

</body>

</html>