<!DOCTYPE html>
<html lang="es">

<head>

<!-- Etiquetas meta para el indexeo de la pagina web-->
<meta charset="UTF-8">
<meta name="description" content="Pagina de compra de Videojuegos">
<meta name="robots" content="nofollow">
<meta name="Author" content="Manuel Alloza Marco">
<meta name="keywords" content="Videojuegos, criticas y compras">
<meta name="revisit-after" content="2 days">
<meta name="category" content="Prácticas">

<!-- Declaración de fichero de estilos -->

<link rel="stylesheet" type="text/css" href="../css/estilos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/jquery.slides.min.js"></script>
<title>Focus Gaming - Videojuegos</title>

</head>

<body>

	<div class="div_container">
		
		<header>
			<!-- html para crear la barra de navegacion de la parte superior-->
			<nav>
				
				<div class="div_menu">
					<img src="../img/logo1.png" class="logo-nav" alt="Imagen de un mando">	
					<span class="button_nav">
						<a href="../index.html" style="color:#020202 ;" >Índice</a>
					</span>	
					<span class="button_nav_in">
						<a href="#" style="color:#020202 ;">Videojuegos</a>
					</span>
					<span class="button_nav">
						<a href="presupuesto.html" style="color:#020202 ;">Presupuesto</a>
					</span>
					<span class="button_nav">
						<a href="contact.html" style="color:#020202 ;">Contacto</a>
					</span>
				</div>
     
			</nav>

		</header>

		<br>
		<br>

		<div class="div_fondo_imagen_galery">
		
			<section>
				
				<!-- html para crear el mosaico de las caratulas con todas las fotos de caratulas de videojuegos-->
				<div id="div_main_section">
					<!-- div para el titulo del Html -->
					<div class="main-title">VIDEOJUEGOS</div>

					<article>
						<div class="galery-grid">
							<img  class="galery-item" src="../img/theLastOfUsCaratula.jpg" alt="Cratula videojuego TLOU">
							<img  class="galery-item" src="../img/jackAndDaxterCaratula.jpg" alt="Cratula videojuego Jack And Daxter">
							<img  class="galery-item" src="../img/assasinsCreedValhallaCaratula.jpg" alt="Cratula videojuego Assasins Creed Valhalla">
							<img  class="galery-item" src="../img/blackOps2Caratula.jpg" alt="Cratula videojuego Black ops 2">
							<img  class="galery-item" src="../img/crashBandicootCaratula.jpg" alt="Cratula videojuego Crash Bandicoot">
							<img  class="galery-item" src="../img/godOfWarCaratula.jpg" alt="Cratula videojuego God of War">
							<img  class="galery-item" src="../img/gtaCaratula.jpg" alt="Cratula videojuego GTA">
							<img  class="galery-item" src="../img/theWitcherCaratula.jpg" alt="Cratula videojuego The Witcher">
							<img  class="galery-item" src="../img/residentEvilBiohazarCaratula.jpg" alt="Cratula videojuego Resident Evil Biohazard">
							<img  class="galery-item" src="../img/residentEvilVillageCaratula.jpg" alt="Cratula videojuego Resident Evil Village">
							<img  class="galery-item" src="../img/assasinsCreedOriginsCaratula.jpg" alt="Cratula videojuego Assasins Creed Origins">
							<img  class="galery-item" src="../img/coldWarCaratula.jpg" alt="Cratula videojuego Cold War">
							<img  class="galery-item" src="../img/darkSoulsCaratula.jpg" alt="Cratula videojuego Dark Souls">
							<img  class="galery-item" src="../img/darkSouls2Caratula.jpg" alt="Cratula videojuego Dark Souls 2">
							<img  class="galery-item" src="../img/darkSouls3Caratula.jpg" alt="Cratula videojuego Dark Souls 3">
							<img  class="galery-item" src="../img/bloodBorneCaratula.jpg" alt="Cratula videojuego BloodBorne">
							<img  class="galery-item" src="../img/sekiroCaratula.jpg" alt="Cratula videojuego Sekiro">
							<img  class="galery-item" src="../img/eldenRingCaratula.jpg" alt="Cratula videojuego Elden Ring">
						</div>
					</article>

				</div>

			</section>
		</div>

		<!-- html del pie de página-->
		<footer>
  			<div id="div_footer" style="color:#f0f6f6">
  				<!-- Uso las etiquetas a para convertir los iconos en un enlace para las distintas redes sociales-->
    			<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/instagram.png" class="footer-icon" alt="Icono instagram">
   				</a>
    			<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/facebook.png" class="footer-icon" alt="Icono facebook">
    			</a>
    			<a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      				<img src="../img/X.png" class="footer-icon" alt="Icono x">
    			</a>
    			----- Focus Gaming ----- C/Leon XIII CP 50008 ----- Todos los derechos reservados 
  			</div>
		</footer>

	</div>

</body>

</html>