<!DOCTYPE html>
<html lang="es">

<head>

<!-- Etiquetas meta para el indexeo de la pagina web-->
<meta charset="UTF-8">
<meta name="description" content="Pagina de compra de Videojuegos">
<meta name="robots" content="nofollow">
<meta name="Author" content="Manuel Alloza Marco">
<meta name="keywords" content="Videojuegos, criticas y compras">
<meta name="revisit-after" content="2 days">
<meta name="category" content="Prácticas">
<!--Etiqueta meta para que la pagina se adapte en dispositivos pequeños-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">

<title>Focus Gaming - Contacto</title>

</head>

<body>

	<div class="div_container">
	
		<header>
			
			<!-- html para crear la barra de navegacion de la parte superior de la pagina web-->
			<nav>	
				<div class="div_menu">
					<img src="../img/logo1.png" class="logo-nav" height="20" width="20" alt="Imagen de un mando">	
					<ul class="menu-nav">
						<li><a href="../index.html" class="button_nav">Índice</a></li>
						<li><a href="productos.html" class="button_nav">Videojuegos</a></li>
						<li><a href="#" class="button_nav_in">Presupuesto</a></li>
						<li><a href="contact.html" class="button_nav">Contacto</a></li>
					</ul>
				</div>
			</nav>

		</header>

		<div id="div_presupuesto" class="div_fondo_imagen_presupuesto">

			<section>
				<!-- html para crear el formulario de contacto-->
				<div id="div_form">

					<form method="post" id="Formulario" name="Formulario" class="form-grid">

						<div class="div-main-title">FORMULARIO</div>

						<br>
						
						<h3>RELLENA LOS SIGUIENTES CAMPOS:</h3>

						<!--Vamos a realizar un div para cada fila del formulario-->
						<!--Posteriormente vamos a meter todos los divs en un Grid para que sea responsive-->
						<!--Cada div se comforma de dos partes una label para saber el campo que vamos a rellenar y un input para introducir la informacion-->
						<div class="form-row">
							<label for="NOMBRE">* Nombre:</label>
							<input id="NOMBRE" name="NOMBRE" class="textbox" type="text" maxlength="15" placeholder="Tu nombre" pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{1,15}$" required>
						</div>

						<div class="form-row">
							<label for="APELLIDO">* Apellido:</label>
							<input id="APELLIDO" name="APELLIDO" class="textbox" type="text" maxlength="40" placeholder="Tu apellido" pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]{1,40}$" required>
						</div>
						<!--Añado el pattern para verificar que los datos introducidos sean 9 digitos-->
						<div class="form-row">
   	 						<label for="TELEFONO">* Teléfono de contacto:</label>
    						<input id="TELEFONO" name="TELEFONO" class="textbox" type="tel" maxlength="9" placeholder="Móvil o Fijo" pattern="^[0-9]{9}$" required>
  						</div>

  						<div class="form-row">
						    <label for="E-MAIL">* E-mail:</label>
						    <input id="E-MAIL" name="E-MAIL" class="textbox" type="email" maxlength="50" placeholder="tu@email.com" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
						</div>

						<div class="form-row">
						    <label for="INFO">* Información:</label>
						    <textarea id="INFO" name="INFO" placeholder="¿Qué información deseas saber?" required></textarea>
						</div>

						<div class="form-row checkbox-row">
							<input type="checkbox" id="cbCondiciones" name="cbCondiciones" onclick="condicionesVerificadas()" required>
						    <label for="cbCondiciones">He leído las condiciones y permisos *</label>
						</div>

						<p class="form-note">(*) Los campos marcados con asterisco son obligatorios.</p>

						<div class="botones">
							<input id="submitFomulario" type="submit" name="submitFormulario" class="boton gris" value="ENVIAR" onclick="">
							<input id="resetFormulario" type="reset" name="resetFormulario" class="boton gris" value="BORRAR">
						</div>
					</form>

				</div>
			</section>

		</div>
	</div>

	<!-- html del pie de página-->
	<footer>
  		<div id="div_footer" style="color:#f0f6f6">
  			<!-- Uso las etiquetas a para convertir los iconos en un enlace para las distintas redes sociales-->
    		<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      			<img src="../img/instagram.png" class="footer-icon" alt="Icono instagram">
   			</a>
    		<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
      			<img src="../img/facebook.png" class="footer-icon" alt="Icono facebook">
    		</a>
    		<a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      			<img src="../img/X.png" class="footer-icon" alt="Icono x">
    		</a>
    		----- Focus Gaming ----- C/Leon XIII CP 50008 ----- Todos los derechos reservados 
  		</div>
	</footer>
</body>

</html>