<!DOCTYPE html>
<html lang="es">

<head>

<!-- Etiquetas meta para el indexeo de la pagina web-->
<meta charset="UTF-8">
<meta name="description" content="Pagina de compra de Videojuegos">
<meta name="robots" content="nofollow">
<meta name="Author" content="Manuel Alloza Marco">
<meta name="keywords" content="Videojuegos, criticas y compras">
<meta name="revisit-after" content="2 days">
<meta name="category" content="Prácticas">
<!--Etiqueta meta para que la pagina se adapte en dispositivos pequeños-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">

<title>Focus Gaming - Videojuegos</title>

</head>

<body>

	<div class="div_container">
		
		<header>
			<!-- html para crear la barra de navegacion de la parte superior-->
			<nav>	
				<div class="div_menu">
					<img src="../img/logo1.png" class="logo-nav" width="20" height="20" alt="Imagen de un mando">	
					<ul class="menu-nav">
						<li><a href="../index.html" class="button_nav">Índice</a></li>
						<li><a href="#" class="button_nav_in">Videojuegos</a></li>
						<li><a href="presupuesto.html" class="button_nav">Presupuesto</a></li>
						<li><a href="contact.html" class="button_nav">Contacto</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<br>
		<br>

		<div class="div_fondo_imagen_galery">
		
			<section>
				
				<!-- html para crear el mosaico de las caratulas con todas las fotos de caratulas de videojuegos-->
				<div id="div_main_section">

					<!-- div para el titulo del Html -->
					<div class="div-main-title">VIDEOJUEGOS</div>

					<!-- Hago un div que sera un Grid para meter todos los elementos de la galeria-->
					<div class="galery-grid">
						<img  class="galery-item" height="249" width="202" src="../img/theLastOfUsCaratula.jpg" alt="Cratula videojuego TLOU">
						<img  class="galery-item" height="265" width="190" src="../img/jackAndDaxterCaratula.jpg" alt="Cratula videojuego Jack And Daxter">
						<img  class="galery-item" height="253" width="199" src="../img/assasinsCreedValhallaCaratula.jpg" alt="Cratula videojuego Assasins Creed Valhalla">
						<img  class="galery-item" height="251" width="201" src="../img/blackOps2Caratula.jpg" alt="Cratula videojuego Black ops 2">
						<img  class="galery-item" height="268" width="188" src="../img/crashBandicootCaratula.jpg" alt="Cratula videojuego Crash Bandicoot">
						<img  class="galery-item" height="275" width="183" src="../img/godOfWarCaratula.jpg" alt="Cratula videojuego God of War">
						<img  class="galery-item" height="267" width="189" src="../img/gtaCaratula.jpg" alt="Cratula videojuego GTA">
						<img  class="galery-item" height="275" width="183" src="../img/theWitcherCaratula.jpg" alt="Cratula videojuego The Witcher">
						<img  class="galery-item" height="251" width="201" src="../img/residentEvilBiohazarCaratula.jpg" alt="Cratula videojuego Resident Evil Biohazard">
						<img  class="galery-item" height="275" width="183" src="../img/residentEvilVillageCaratula.jpg" alt="Cratula videojuego Resident Evil Village">
						<img  class="galery-item" height="259" width="194" src="../img/assasinsCreedOriginsCaratula.jpg" alt="Cratula videojuego Assasins Creed Origins">
						<img  class="galery-item" height="251" width="201" src="../img/coldWarCaratula.jpg" alt="Cratula videojuego Cold War">
						<img  class="galery-item" height="1280" width="720" src="../img/darkSoulsCaratula.jpg" alt="Cratula videojuego Dark Souls">
						<img  class="galery-item" height="817" width="580" src="../img/darkSouls2Caratula.jpg" alt="Cratula videojuego Dark Souls 2">
						<img  class="galery-item" height="722" width="580" src="../img/darkSouls3Caratula.jpg" alt="Cratula videojuego Dark Souls 3">
						<img  class="galery-item" height="1247" width="1000" src="../img/bloodBorneCaratula.jpg" alt="Cratula videojuego BloodBorne">
						<img  class="galery-item" height="727" width="580" src="../img/sekiroCaratula.jpg" alt="Cratula videojuego Sekiro">
						<img  class="galery-item" height="709" width="473" src="../img/eldenRingCaratula.jpg" alt="Cratula videojuego Elden Ring">
					</div>

				</div>

			</section>
		</div>

		<!-- html del pie de página-->
		<footer>
	  		<div id="div_footer">
	  			<!-- Uso las etiquetas a para convertir los iconos en un enlace para las distintas redes sociales-->
	    		<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
	      			<img src="../img/instagram.png" height="512" width="512" class="footer-icon" alt="Icono instagram">
	   			</a>
	    		<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
	      			<img src="../img/facebook.png" height="512" width="512" class="footer-icon" alt="Icono facebook">
	    		</a>
	    		<a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
	      			<img src="../img/X.png" height="500" width="500" class="footer-icon" alt="Icono x">
	    		</a>
	    		----- Focus Gaming ----- C/Leon XIII CP 50008 ----- Todos los derechos reservados 
	  		</div>
		</footer>

	</div>

</body>

</html>